# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage
/test-results

# Build
/dist
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Environment
.env
.env*.local

# IDE
.idea
.vscode
*.swp
*.swo
*~

# Prisma
prisma/*.db
prisma/*.db-journal

# Uploads
uploads/
temp/
